* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}

header .logo-wrapper p {
  font-size: 25px;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.webgl {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#user-input-tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid #707070;
  text-align: center;
  padding: 20px;
  z-index: 50;
}

#user-input-tab h2 {
  margin-bottom: 20px;
}

.user-input-info {
  color: #717171;
  font-size: 15px;
  margin-bottom: 20px;
}

#user-input-tab .user-input-input {
  background: rgba(56, 56, 56, 0.151);
  color: rgb(175, 175, 175);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

#user-input-tab .user-input-input:focus {
  outline: none;
}

#user-input-tab .user-input-input:nth-child(even) {
  margin-bottom: 20px;
}

.error {
  box-shadow: 0px 0px 10px red;
}

.user-input-error {
  color: red;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  display: none;
}

.btn {
  padding: 5px 20px;
  background: #2c34a1;
  color: white;
  border: 2px solid #2c34a1;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn:active {
  background: transparent;
  /* color: #2c34a1; */
  border: 2px solid #2c34a1;
}

.btn-2 {
  padding: 5px 26px;
  background: transparent;
  color: #474d9e;
  border: 2px solid #474d9e;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn-2:active {
  background: transparent;
  /* color: #2c34a1; */
  border: 2px solid #2c34a1;
}

.user-input-footer {
  padding-top: 20px;
}

.user-input-footer-info {
  color: #717171;
  font-size: 12px;
}

.Info-btn {
  position: absolute;
  right: 10px;
  top: 100px;
}

#info-tab {
  /* display: none; */
  position: absolute;
  right: 10px;
  top: 100px;
  color: white;
  padding: 20px;
  width: 30vw;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid #707070;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  max-height: calc(100vh - 230px);
  overflow-y: hidden;
}

#info-tab #icon-wrapper {
  position: relative;
}

#info-tab #icon-wrapper .close-item-icon {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#info-tab #planet-name {
  font-size: 20px;
  color: #d8d8d8;
}

#info-tab #moons {
  color: #717171;
}

#info-tab #details {
  color: rgb(173, 173, 173);
  padding: 10px 0 0 0;
  overflow-y: scroll;
}

#info-tab #details p {
  padding: 20px 0 0 0;
  color: #6b71cc;
}

#info-tab #details p span {
  font-weight: bold;
  color: #717171;
}

#info-tab .btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  padding: 5px 20px;
  background: #2c34a1;
  color: white;
  border: 2px solid #2c34a1;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#btn:active {
  background: transparent;
  /* color: #2c34a1; */
  border: 2px solid #2c34a1;
}

#btn-2 {
  padding: 5px 26px;
  background: transparent;
  color: #474d9e;
  border: 2px solid #474d9e;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#btn-2:active {
  background: transparent;
  /* color: #2c34a1; */
  border: 2px solid #2c34a1;
}

#planet-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.637),
    rgba(0, 0, 0, 0.637)
  );
  margin: 0 auto 10px auto;
  border-radius: 20px;
  width: 80%;
}

#planet-nav .planet-name {
  padding: 10px 0;
}

#planet-nav .control-btn {
  cursor: pointer;
}

/* Style the planet-info-container */

.planet-info-container {
  position: absolute;
  top: 100vh;
  left: 0;
  background: black;
  width: 100vw;
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background: black;
} */

/* Style the header */

.header {
  position: absolute;
  width: 99vw;
  top: 0;
  left: 0;
  color: #b5b5b5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  /* background: lightcoral; */
}

.header .logo-wrapper p {
  font-size: 25px;
}

.header .icon-wrapper {
  width: 30px;
  height: 100%;
  display: flex;
  /* background: lightblue; */
}

.header .icon-wrapper #close-icon-2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Style the main */

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.content-section {
  width: 60%;
  height: 100vh;
  background: black;
  display: flex;
}

.content-section .img-wrapper {
  width: 200px;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

.content-section .img-wrapper .bakcground-img {
  position: absolute;
  width: 500px;
  bottom: 0px;
  left: 0px;
}

.content-section .content-wrapper {
  width: calc(100% - 200px);
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(68, 68, 68, 0.3),
    rgba(0, 0, 0, 0)
  );
  padding: 200px 10px 10px 20px;
  z-index: 2;
  backdrop-filter: blur(30px black);
  border-right: 1px solid rgba(68, 68, 68, 0.3);
  border-left: 1px solid rgba(68, 68, 68, 0.3);
}

.content-section .content-wrapper h1 {
  font-size: 80px;
  color: #b5b5b5;
}

.content-section .content-wrapper p {
  margin: 0 0 20px 0;
  color: #717171;
}

.planet-section {
  width: 40%;
  height: 100vh;
  /* background: lightgreen; */
  display: flex;
  position: relative;
}

.planet-section .divider {
  width: 50%;
  height: 100%;
}

.planet-section .right-section {
  border-left: 2px solid rgba(68, 68, 68, 0.3);
}

.planet-section .planet-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 51px);
  margin: 51px 0 0 0;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.planet-section .planet-content .user-data-wrapper {
  width: 100%;
  /* background: lightblue; */
  display: flex;
}

.planet-section .planet-content .user-data-wrapper .user-wrapper {
  width: 50%;
  padding: 10px;
}

.planet-section .planet-content .user-data-wrapper .user-wrapper h3 {
  color: #b5b5b5;
  font-size: 15px;
}

.planet-section .planet-content .user-data-wrapper .user-wrapper p {
  color: #717171;
  font-size: 12px;
}

.planet-section .planet-content .user-data-wrapper .user-wrapper .user-age,
.planet-section .planet-content .user-data-wrapper .user-wrapper .user-weight {
  color: #4a53d1;
  font-size: 16px;
}

.planet-section .planet-content .canvas-wrapper {
  height: calc(100vh * 0.6);
  width: 100%;
  max-width: 550px;
  /* background: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-y: auto;
  }

  .planet-info-container {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  /* Chrome, Edge, Safari and Opera Support the non-standard ::-webkit-scrollbar pseudo element */
  /* Scrollbar-Width */
  .planet-info-container::-webkit-scrollbar {
    display: none;
  }

  /* Scrollbar-Track */
  .planet-info-container::-webkit-scrollbar-track {
    display: none;
  }

  /* Scrollbar-Handle */
  .planet-info-container::-webkit-scrollbar-thumb {
    display: none;
  }

  main {
    flex-direction: column-reverse;
    max-width: 100vw;
  }

  .content-section {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 100vh;
  }

  .planet-section {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 520px) {
  .content-section .img-wrapper {
    width: 80px;
  }

  .content-section .img-wrapper .bakcground-img {
    width: 100vw;
    height: 100vw;
  }

  .content-section .content-wrapper {
    width: calc(100% - 80px);
    border-right: none;
    border-top: 1px solid rgba(68, 68, 68, 0.3);
  }
}

@media screen and (max-width: 350px) {
  .content-section .img-wrapper {
    width: 20px;
  }
  .content-section .img-wrapper .bakcground-img {
    width: 100vw;
    height: 100vw;
  }
  .content-section .content-wrapper {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 768px) {
  #info-tab {
    width: 50vw;
  }
}
